spring:
  application:
    name: dream-shops
  datasource:
    url: jdbc:mysql://localhost:3306/dream_shops?useSSL=false&serverTimezone=UTC
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: true
    hibernate:
      ddl-auto: update
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

server:
  port: 8080

api:
  prefix: /api/v1

springdoc:
    swagger-ui:
      path: /swagger-ui.html
    api-docs:
      path: /openapi
    use-fqn: true

auth:
  token:
    jwtSecret: 86400000asdasqweqweasadqwedfiojjlpiopjm
    jwtExpirationMs: 3600000